name: Release Packages

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      version:
        description: 'Package Version'
        required: true
      deploy_to_nuget:
        description: 'Deploy packages to nuget.org'
        required: true
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
        include-prerelease: true
    - name: Install tizen workload
      run: |
        curl -sSL https://raw.githubusercontent.com/Samsung/Tizen.NET/main/workload/scripts/workload-install.sh | bash -s -- -v 6.5.100-preview.7.85 -d /home/runner/.dotnet        
    - name: Build
      env:
        PULLREQUEST_ID: ${{ github.event.number }}
      run: |
        dotnet build Tizen.UIExtensions.sln
      working-directory: .

  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
        include-prerelease: true
    - name: Install tizen workload
      run: |
        curl -sSL https://raw.githubusercontent.com/Samsung/Tizen.NET/main/workload/scripts/workload-install.sh | bash -s -- -v 6.5.100-preview.7.85 -d /home/runner/.dotnet

    - name: Build and pack
      run: |
        dotnet pack -c Release -o artifacts -p:Version=${{ github.event.inputs.version }} Tizen.UIExtensions.sln

    - name: Deploy packages
      env:
        NUGET_SOURCE: https://tizen.myget.org/F/dotnet/api/v2/package
        APIKEY: ${{ secrets.MYGET_APIKEY }}
      run: |
        dotnet nuget push artifacts/Tizen.UIExtensions.*.nupkg -k $APIKEY -s $NUGET_SOURCE -t 3000

    - name: Deploy packages to nuget.org
      if: github.event.inputs.deploy_to_nuget == 'true'
      env:
        NUGET_SOURCE: https://www.nuget.org/api/v2/package
        APIKEY: ${{ secrets.NUGET_APIKEY }}
      run: |
        dotnet nuget push artifacts/Tizen.UIExtensions.*.nupkg -k $APIKEY -s $NUGET_SOURCE -t 3000
